{% extends 'base.html' %}
{% block content %}
<div class="row g-0 text-center mx-2">
    <div class="col-sm-16 col-md-8">
        <img src="{{video.thumbnail.url}}" class="img-fluid" alt="...">
        <h3 class="text-start d-flex flex-row justify-content-between my-2">{{video.name}}
            <button value="{{video.id}}" id="create_package_btn" type="button"
                class="btn btn-outline-primary p-2">CREATE
                PACKAGE</button>
        </h3>
    </div>
    <div class="col-md-4">
        <h4 class="text-white fw-bold bg-primary p-2 ">META DATA</h4>
        <pre class="text-start">
            <code>{{metadata}}</code>
        </pre>
    </div>
</div>
{% endblock %}